:root[data-theme="dark"] {
  --heritage-background-strong: #0a0a0a;
  --heritage-background-medium: #1a1b1f;
  --heritage-background-subtle: #393b42;
  --heritage-background-strongest: #393b42;
  --heritage-foreground-strong: #f5f6fc;
  --heritage-foreground-medium: #e9eaf2;
  --heritage-foreground-subtle: #a5a8b1;
  --heritage-foreground-subtlest: #ffffff;
  --heritage-border-strong: #a5a8b1;
  --heritage-border-medium: #393b42;
  --heritage-border-subtle: #202020;
  --heritage-border-subtlest: #ffffff;
  --neutral-background-strongest: #d7d9e0;
  --neutral-background-strong: #a5a8b1;
  --neutral-background-medium: #393b42;
  --neutral-background-subtle: #202020;
  --neutral-background-subtlest: #1a1b1f;
  --neutral-foreground-strongest: #d7d9e0;
  --neutral-foreground-strong: #a5a8b1;
  --neutral-foreground-medium: #393b42;
  --neutral-foreground-subtle: #202020;
  --neutral-foreground-subtlest: #1a1b1f;
  --neutral-border-strongest: #d7d9e0;
  --neutral-border-strong: #a5a8b1;
  --neutral-border-medium: #393b42;
  --neutral-border-subtle: #202020;
  --neutral-border-subtlest: #1a1b1f;
  --blue-background-strongest: #c6d0ff;
  --blue-background-strong: #5c77ff;
  --blue-background-medium: #2e3762;
  --blue-background-subtle: #272d4c;
  --blue-background-subtlest: #212435;
  --blue-foreground-strongest: #c6d0ff;
  --blue-foreground-strong: #5c77ff;
  --blue-foreground-medium: #2e3762;
  --blue-foreground-subtle: #272d4c;
  --blue-foreground-subtlest: #212435;
  --blue-border-strongest: #c6d0ff;
  --blue-border-strong: #5c77ff;
  --blue-border-medium: #2e3762;
  --blue-border-subtle: #272d4c;
  --blue-border-subtlest: #212435;
  --error-background-strongest: #fbc7c3;
  --error-background-strong: #f25b50;
  --error-background-medium: #5b2e2e;
  --error-background-subtle: #452829;
  --error-background-subtlest: #302124;
  --error-foreground-strongest: #fbc7c3;
  --error-foreground-strong: #f25b50;
  --error-foreground-medium: #5b2e2e;
  --error-foreground-subtle: #452829;
  --error-foreground-subtlest: #302124;
  --error-border-strongest: #fbc7c3;
  --error-border-strong: #f25b50;
  --error-border-medium: #5b2e2e;
  --error-border-subtle: #452829;
  --error-border-subtlest: #302124;
  --success-background-strongest: #b8e9d2;
  --success-background-strong: #14ce77;
  --success-background-medium: #185139;
  --success-background-subtle: #193f31;
  --success-background-subtlest: #192d28;
  --success-foreground-strongest: #b8e9d2;
  --success-foreground-strong: #14ce77;
  --success-foreground-medium: #185139;
  --success-foreground-subtle: #193f31;
  --success-foreground-subtlest: #192d28;
  --success-border-strongest: #b8e9d2;
  --success-border-strong: #14ce77;
  --success-border-medium: #185139;
  --success-border-subtle: #193f31;
  --success-border-subtlest: #192d28;
  --warning-background-strongest: #fbebb8;
  --warning-background-strong: #f2c329;
  --warning-background-medium: #5b4e22;
  --warning-background-subtle: #453d21;
  --warning-background-subtlest: #302c20;
  --warning-foreground-strongest: #fbebb8;
  --warning-foreground-strong: #f2c329;
  --warning-foreground-medium: #5b4e22;
  --warning-foreground-subtle: #453d21;
  --warning-foreground-subtlest: #302c20;
  --warning-border-strongest: #fbebb8;
  --warning-border-strong: #f2c329;
  --warning-border-medium: #5b4e22;
  --warning-border-subtle: #453d21;
  --warning-border-subtlest: #302c20;
  --status-01-background-strongest: #c1e6ff;
  --status-01-background-strong: #4bb7ff;
  --status-01-background-medium: #294a62;
  --status-01-background-subtle: #243a4c;
  --status-01-background-subtlest: #1f2b35;
  --status-01-foreground-strongest: #c1e6ff;
  --status-01-foreground-strong: #4bb7ff;
  --status-01-foreground-medium: #294a62;
  --status-01-foreground-subtle: #243a4c;
  --status-01-foreground-subtlest: #1f2b35;
  --status-01-border-strongest: #c1e6ff;
  --status-01-border-strong: #4bb7ff;
  --status-01-border-medium: #294a62;
  --status-01-border-subtle: #243a4c;
  --status-01-border-subtlest: #1f2b35;
  --status-02-background-strongest: #fddeb5;
  --status-02-background-strong: #f89b22;
  --status-02-background-medium: #5d4120;
  --status-02-background-subtle: #463520;
  --status-02-background-subtlest: #30281f;
  --status-02-foreground-strongest: #fddeb5;
  --status-02-foreground-strong: #f89b22;
  --status-02-foreground-medium: #5d4120;
  --status-02-foreground-subtle: #463520;
  --status-02-foreground-subtlest: #30281f;
  --status-02-border-strongest: #fddeb5;
  --status-02-border-strong: #f89b22;
  --status-02-border-medium: #5d4120;
  --status-02-border-subtle: #463520;
  --status-02-border-subtlest: #30281f;
  --status-03-background-strongest: #dbcefd;
  --status-03-background-strong: #9973f8;
  --status-03-background-medium: #403560;
  --status-03-background-subtle: #332d4a;
  --status-03-background-subtlest: #272435;
  --status-03-foreground-strongest: #dbcefd;
  --status-03-foreground-strong: #9973f8;
  --status-03-foreground-medium: #403560;
  --status-03-foreground-subtle: #332d4a;
  --status-03-foreground-subtlest: #272435;
  --status-03-border-strongest: #dbcefd;
  --status-03-border-strong: #9973f8;
  --status-03-border-medium: #403560;
  --status-03-border-subtle: #332d4a;
  --status-03-border-subtlest: #272435;
  --status-04-background-strongest: #d7d9e0;
  --status-04-background-strong: #7c7e8a;
  --status-04-background-medium: #393b42;
  --status-04-background-subtle: #202020;
  --status-04-background-subtlest: #1a1b1f;
  --status-04-foreground-strongest: #d7d9e0;
  --status-04-foreground-strong: #7c7e8a;
  --status-04-foreground-medium: #393b42;
  --status-04-foreground-subtle: #202020;
  --status-04-foreground-subtlest: #1a1b1f;
  --status-04-border-strongest: #d7d9e0;
  --status-04-border-strong: #7c7e8a;
  --status-04-border-medium: #393b42;
  --status-04-border-subtle: #202020;
  --status-04-border-subtlest: #1a1b1f;
  --status-05-background-strongest: #b9ebf5;
  --status-05-background-strong: #23c8e9;
  --status-05-background-medium: #1d4f5c;
  --status-05-background-subtle: #1c3e47;
  --status-05-background-subtlest: #1b2c33;
  --status-05-foreground-strongest: #b9ebf5;
  --status-05-foreground-strong: #23c8e9;
  --status-05-foreground-medium: #1d4f5c;
  --status-05-foreground-subtle: #1c3e47;
  --status-05-foreground-subtlest: #1b2c33;
  --status-05-border-strongest: #b9ebf5;
  --status-05-border-strong: #23c8e9;
  --status-05-border-medium: #1d4f5c;
  --status-05-border-subtle: #1c3e47;
  --status-05-border-subtlest: #1b2c33;
  --status-06-background-strongest: #d0d5fb;
  --status-06-background-strong: #7987f5;
  --status-06-background-medium: #363b5f;
  --status-06-background-subtle: #2d314a;
  --status-06-background-subtlest: #232634;
  --status-06-foreground-strongest: #d0d5fb;
  --status-06-foreground-strong: #7987f5;
  --status-06-foreground-medium: #363b5f;
  --status-06-foreground-subtle: #2d314a;
  --status-06-foreground-subtlest: #232634;
  --status-06-border-strongest: #d0d5fb;
  --status-06-border-strong: #7987f5;
  --status-06-border-medium: #363b5f;
  --status-06-border-subtle: #2d314a;
  --status-06-border-subtlest: #232634;
  --ui-page-bg-default: #0a0a0a;
  --ui-card-bg-default: #1a1b1f;
  --ui-modal-bg-default: #1a1b1f;
  --ui-modal-bg-hover: #202020;
  --ui-tooltip-bg-default: #4262ff;
  --ui-popover-bg-default: #1a1b1f;
  --ui-text-primary-default: #f5f6fc;
  --ui-text-primary-active: #5c77ff;
  --ui-text-primary-error: #f25b50;
  --ui-text-secondary-default: #e9eaf2;
  --ui-text-tertiary-default: #9698a3;
  --ui-text-quaternary-default: #393b42;
  --ui-text-inverse-default: #202020;
  --ui-border-primary-default: #a5a8b1;
  --ui-border-secondary-default: #393b42;
  --ui-border-tertiary-default: #202020;
  --ui-border-inverse-default: #202020;
  --button-brand-primary-bg-default: #4262ff;
  --button-brand-primary-bg-hover: #5c77ff;
  --button-brand-primary-bg-disabled: #e9eaf2;
  --button-brand-primary-text-default: #ffffff;
  --button-brand-primary-text-disabled: #e9eaf2;
  --button-brand-secondary-bg-default: #f6f7ff;
  --button-brand-secondary-bg-hover: #d9e0ff;
  --button-brand-secondary-bg-disabled: #e9eaf2;
  --button-brand-secondary-text-default: #4262ff;
  --button-brand-secondary-text-disabled: #e9eaf2;
  --button-brand-outlined-bg-default: #ffffff;
  --button-brand-outlined-bg-hover: #f6f7ff;
  --button-brand-outlined-bg-disabled: #ffffff;
  --button-brand-outlined-text-default: #4262ff;
  --button-brand-outlined-text-disabled: #e9eaf2;
  --button-brand-outlined-border-default: #4262ff;
  --button-brand-outlined-border-hover: #5c77ff;
  --button-brand-outlined-border-disabled: #e9eaf2;
  --button-brand-text-bg-default: #ffffff;
  --button-brand-text-bg-hover: #f6f7ff;
  --button-brand-text-bg-disabled: #ffffff;
  --button-brand-text-text-default: #4262ff;
  --button-brand-text-text-disabled: #e9eaf2;
  --button-destructive-primary-bg-default: #f04438;
  --button-destructive-primary-bg-hover: #f25b50;
  --button-destructive-primary-bg-disabled: #e9eaf2;
  --button-destructive-primary-text-default: #ffffff;
  --button-destructive-primary-text-disabled: #e9eaf2;
  --button-destructive-secondary-bg-default: #fef6f5;
  --button-destructive-secondary-bg-hover: #fcdad7;
  --button-destructive-secondary-bg-disabled: #e9eaf2;
  --button-destructive-secondary-text-default: #f04438;
  --button-destructive-secondary-text-disabled: #e9eaf2;
  --button-destructive-outlined-bg-default: #ffffff;
  --button-destructive-outlined-bg-hover: #fef6f5;
  --button-destructive-outlined-bg-disabled: #ffffff;
  --button-destructive-outlined-text-default: #f04438;
  --button-destructive-outlined-text-disabled: #e9eaf2;
  --button-destructive-outlined-border-default: #f04438;
  --button-destructive-outlined-border-hover: #f25b50;
  --button-destructive-outlined-border-disabled: #e9eaf2;
  --button-destructive-text-bg-default: #ffffff;
  --button-destructive-text-bg-hover: #fef6f5;
  --button-destructive-text-bg-disabled: #ffffff;
  --button-destructive-text-text-default: #f04438;
  --button-destructive-text-text-disabled: #e9eaf2;
  --badge-blue-solid-bg-default: #4262ff;
  --badge-blue-solid-text-default: #ffffff;
  --badge-blue-soft-bg-default: #f6f7ff;
  --badge-blue-soft-text-default: #4262ff;
  --badge-blue-outlined-bg-default: #ffffff;
  --badge-blue-outlined-text-default: #4262ff;
  --badge-blue-outlined-border-default: #4262ff;
  --badge-success-solid-bg-default: #12b76a;
  --badge-success-solid-text-default: #ffffff;
  --badge-success-soft-bg-default: #f3fbf8;
  --badge-success-soft-text-default: #12b76a;
  --badge-success-outlined-bg-default: #ffffff;
  --badge-success-outlined-text-default: #12b76a;
  --badge-success-outlined-border-default: #12b76a;
  --badge-warning-solid-bg-default: #f79009;
  --badge-warning-solid-text-default: #ffffff;
  --badge-warning-soft-bg-default: #fef7ee;
  --badge-warning-soft-text-default: #f79009;
  --badge-warning-outlined-bg-default: #ffffff;
  --badge-warning-outlined-text-default: #f79009;
  --badge-warning-outlined-border-default: #f79009;
  --badge-error-solid-bg-default: #f04438;
  --badge-error-solid-text-default: #ffffff;
  --badge-error-soft-bg-default: #fef6f5;
  --badge-error-soft-text-default: #f04438;
  --badge-error-outlined-bg-default: #ffffff;
  --badge-error-outlined-text-default: #f04438;
  --badge-error-outlined-border-default: #f04438;
  --badge-status-01-solid-bg-default: #31adff;
  --badge-status-01-solid-text-default: #ffffff;
  --badge-status-01-soft-bg-default: #f1f9ff;
  --badge-status-01-soft-text-default: #31adff;
  --badge-status-01-outlined-bg-default: #ffffff;
  --badge-status-01-outlined-text-default: #31adff;
  --badge-status-01-outlined-border-default: #31adff;
  --badge-status-02-solid-bg-default: #f79009;
  --badge-status-02-solid-text-default: #ffffff;
  --badge-status-02-soft-bg-default: #fef7ee;
  --badge-status-02-soft-text-default: #f79009;
  --badge-status-02-outlined-bg-default: #ffffff;
  --badge-status-02-outlined-text-default: #f79009;
  --badge-status-02-outlined-border-default: #f79009;
  --badge-status-03-solid-bg-default: #875bf7;
  --badge-status-03-solid-text-default: #ffffff;
  --badge-status-03-soft-bg-default: #f9f7ff;
  --badge-status-03-soft-text-default: #875bf7;
  --badge-status-03-outlined-bg-default: #ffffff;
  --badge-status-03-outlined-text-default: #875bf7;
  --badge-status-03-outlined-border-default: #875bf7;
  --badge-status-04-solid-bg-default: #a8aab2;
  --badge-status-04-solid-text-default: #ffffff;
  --badge-status-04-soft-bg-default: #f5f6fc;
  --badge-status-04-soft-text-default: #a8aab2;
  --badge-status-04-outlined-bg-default: #ffffff;
  --badge-status-04-outlined-text-default: #a8aab2;
  --badge-status-04-outlined-border-default: #a8aab2;
  --badge-status-05-solid-bg-default: #16bcdd;
  --badge-status-05-solid-text-default: #ffffff;
  --badge-status-05-soft-bg-default: #f3fcfd;
  --badge-status-05-soft-text-default: #16bcdd;
  --badge-status-05-outlined-bg-default: #ffffff;
  --badge-status-05-outlined-text-default: #16bcdd;
  --badge-status-05-outlined-border-default: #16bcdd;
  --badge-status-06-solid-bg-default: #6172f3;
  --badge-status-06-solid-text-default: #ffffff;
  --badge-status-06-soft-bg-default: #f7f8fe;
  --badge-status-06-soft-text-default: #6172f3;
  --badge-status-06-outlined-bg-default: #ffffff;
  --badge-status-06-outlined-text-default: #6172f3;
  --badge-status-06-outlined-border-default: #6172f3;
}
