:root[data-theme="light"] {
  --heritage-background-strong: #f5f6fc;
  --heritage-background-medium: #ffffff;
  --heritage-background-subtle: #e9eaf2;
  --heritage-background-strongest: #202020;
  --heritage-foreground-strong: #202020;
  --heritage-foreground-medium: #393b42;
  --heritage-foreground-subtle: #9698a3;
  --heritage-foreground-subtlest: #ffffff;
  --heritage-border-strong: #d7d9e0;
  --heritage-border-medium: #e9eaf2;
  --heritage-border-subtle: #f5f6fc;
  --heritage-border-subtlest: #ffffff;
  --neutral-background-strongest: #707280;
  --neutral-background-strong: #9698a3;
  --neutral-background-medium: #d7d9e0;
  --neutral-background-subtle: #e9eaf2;
  --neutral-background-subtlest: #f5f6fc;
  --neutral-foreground-strongest: #747c8b;
  --neutral-foreground-strong: #9698a3;
  --neutral-foreground-medium: #d7d9e0;
  --neutral-foreground-subtle: #e9eaf2;
  --neutral-foreground-subtlest: #f5f6fc;
  --neutral-border-strongest: #707280;
  --neutral-border-strong: #9698a3;
  --neutral-border-medium: #d7d9e0;
  --neutral-border-subtle: #e9eaf2;
  --neutral-border-subtlest: #f5f6fc;
  --blue-background-strongest: #5c77ff;
  --blue-background-strong: #4262ff;
  --blue-background-medium: #c6d0ff;
  --blue-background-subtle: #d9e0ff;
  --blue-background-subtlest: #f6f7ff;
  --blue-foreground-strongest: #5c77ff;
  --blue-foreground-strong: #4262ff;
  --blue-foreground-medium: #c6d0ff;
  --blue-foreground-subtle: #d9e0ff;
  --blue-foreground-subtlest: #f6f7ff;
  --blue-border-strongest: #5c77ff;
  --blue-border-strong: #4262ff;
  --blue-border-medium: #c6d0ff;
  --blue-border-subtle: #d9e0ff;
  --blue-border-subtlest: #f6f7ff;
  --error-background-strongest: #f25b50;
  --error-background-strong: #f04438;
  --error-background-medium: #fbc7c3;
  --error-background-subtle: #fcdad7;
  --error-background-subtlest: #fef6f5;
  --error-foreground-strongest: #f25b50;
  --error-foreground-strong: #f04438;
  --error-foreground-medium: #fbc7c3;
  --error-foreground-subtle: #fcdad7;
  --error-foreground-subtlest: #fef6f5;
  --error-border-strongest: #f25b50;
  --error-border-strong: #f04438;
  --error-border-medium: #fbc7c3;
  --error-border-subtle: #fcdad7;
  --error-border-subtlest: #fef6f5;
  --success-background-strongest: #14ce77;
  --success-background-strong: #12b76a;
  --success-background-medium: #b8e9d2;
  --success-background-subtle: #d0f1e1;
  --success-background-subtlest: #f3fbf8;
  --success-foreground-strongest: #14ce77;
  --success-foreground-strong: #12b76a;
  --success-foreground-medium: #b8e9d2;
  --success-foreground-subtle: #d0f1e1;
  --success-foreground-subtlest: #f3fbf8;
  --success-border-strongest: #14ce77;
  --success-border-strong: #12b76a;
  --success-border-medium: #b8e9d2;
  --success-border-subtle: #d0f1e1;
  --success-border-subtlest: #f3fbf8;
  --warning-background-strongest: #b68e0b;
  --warning-background-strong: #f1bd11;
  --warning-background-medium: #fbebb8;
  --warning-background-subtle: #fcf2cf;
  --warning-background-subtlest: #fef9ea;
  --warning-foreground-strongest: #b68e0b;
  --warning-foreground-strong: #f1bd11;
  --warning-foreground-medium: #fbebb8;
  --warning-foreground-subtle: #fcf2cf;
  --warning-foreground-subtlest: #fef9ea;
  --warning-border-strongest: #b68e0b;
  --warning-border-strong: #f1bd11;
  --warning-border-medium: #fbebb8;
  --warning-border-subtle: #fcf2cf;
  --warning-border-subtlest: #fef9ea;
  --status-01-background-strongest: #1b7fc1;
  --status-01-background-strong: #31adff;
  --status-01-background-medium: #c1e6ff;
  --status-01-background-subtle: #d6efff;
  --status-01-background-subtlest: #f1f9ff;
  --status-01-foreground-strongest: #1b7fc1;
  --status-01-foreground-strong: #31adff;
  --status-01-foreground-medium: #c1e6ff;
  --status-01-foreground-subtle: #d6efff;
  --status-01-foreground-subtlest: #f1f9ff;
  --status-01-border-strongest: #1b7fc1;
  --status-01-border-strong: #31adff;
  --status-01-border-medium: #c1e6ff;
  --status-01-border-subtle: #d6efff;
  --status-01-border-subtlest: #f1f9ff;
  --status-02-background-strongest: #c67000;
  --status-02-background-strong: #f79009;
  --status-02-background-medium: #fddeb5;
  --status-02-background-subtle: #fde9ce;
  --status-02-background-subtlest: #fef7ee;
  --status-02-foreground-strongest: #c67000;
  --status-02-foreground-strong: #f79009;
  --status-02-foreground-medium: #fddeb5;
  --status-02-foreground-subtle: #fde9ce;
  --status-02-foreground-subtlest: #fef7ee;
  --status-02-border-strongest: #c67000;
  --status-02-border-strong: #f79009;
  --status-02-border-medium: #fddeb5;
  --status-02-border-subtle: #fde9ce;
  --status-02-border-subtlest: #fef7ee;
  --status-03-background-strongest: #6a45c7;
  --status-03-background-strong: #875bf7;
  --status-03-background-medium: #dbcefd;
  --status-03-background-subtle: #e7defd;
  --status-03-background-subtlest: #f9f7ff;
  --status-03-foreground-strongest: #6a45c7;
  --status-03-foreground-strong: #875bf7;
  --status-03-foreground-medium: #dbcefd;
  --status-03-foreground-subtle: #e7defd;
  --status-03-foreground-subtlest: #f9f7ff;
  --status-03-border-strongest: #6a45c7;
  --status-03-border-strong: #875bf7;
  --status-03-border-medium: #dbcefd;
  --status-03-border-subtle: #e7defd;
  --status-03-border-subtlest: #f9f7ff;
  --status-04-background-strongest: #747c8b;
  --status-04-background-strong: #a8aab2;
  --status-04-background-medium: #d7d9e0;
  --status-04-background-subtle: #e9eaf2;
  --status-04-background-subtlest: #f5f6fc;
  --status-04-foreground-strongest: #747c8b;
  --status-04-foreground-strong: #a8aab2;
  --status-04-foreground-medium: #d7d9e0;
  --status-04-foreground-subtle: #e9eaf2;
  --status-04-foreground-subtlest: #f5f6fc;
  --status-04-border-strongest: #747c8b;
  --status-04-border-strong: #a8aab2;
  --status-04-border-medium: #d7d9e0;
  --status-04-border-subtle: #e9eaf2;
  --status-04-border-subtlest: #f5f6fc;
  --status-05-background-strongest: #0c8fa9;
  --status-05-background-strong: #16bcdd;
  --status-05-background-medium: #b9ebf5;
  --status-05-background-subtle: #d0f2f8;
  --status-05-background-subtlest: #f3fcfd;
  --status-05-foreground-strongest: #0c8fa9;
  --status-05-foreground-strong: #16bcdd;
  --status-05-foreground-medium: #b9ebf5;
  --status-05-foreground-subtle: #d0f2f8;
  --status-05-foreground-subtlest: #f3fcfd;
  --status-05-border-strongest: #0c8fa9;
  --status-05-border-strong: #16bcdd;
  --status-05-border-medium: #b9ebf5;
  --status-05-border-subtle: #d0f2f8;
  --status-05-border-subtlest: #f3fcfd;
  --status-06-background-strongest: #4756c6;
  --status-06-background-strong: #6172f3;
  --status-06-background-medium: #d0d5fb;
  --status-06-background-subtle: #dfe3fd;
  --status-06-background-subtlest: #f7f8fe;
  --status-06-foreground-strongest: #4756c6;
  --status-06-foreground-strong: #6172f3;
  --status-06-foreground-medium: #d0d5fb;
  --status-06-foreground-subtle: #dfe3fd;
  --status-06-foreground-subtlest: #f7f8fe;
  --status-06-border-strongest: #4756c6;
  --status-06-border-strong: #6172f3;
  --status-06-border-medium: #d0d5fb;
  --status-06-border-subtle: #dfe3fd;
  --status-06-border-subtlest: #f7f8fe;
  --ui-page-bg-default: #f5f6fc;
  --ui-card-bg-default: #ffffff;
  --ui-modal-bg-default: #ffffff;
  --ui-modal-bg-hover: #e9eaf2;
  --ui-tooltip-bg-default: #4262ff;
  --ui-popover-bg-default: #202020;
  --ui-text-primary-default: #202020;
  --ui-text-primary-active: #4262ff;
  --ui-text-primary-error: #f04438;
  --ui-text-secondary-default: #393b42;
  --ui-text-tertiary-default: #9698a3;
  --ui-text-quaternary-default: #d7d9e0;
  --ui-text-inverse-default: #ffffff;
  --ui-border-primary-default: #d7d9e0;
  --ui-border-secondary-default: #e9eaf2;
  --ui-border-tertiary-default: #f5f6fc;
  --ui-border-inverse-default: #ffffff;
  --button-brand-primary-bg-default: #4262ff;
  --button-brand-primary-bg-hover: #5c77ff;
  --button-brand-primary-bg-disabled: #e9eaf2;
  --button-brand-primary-text-default: #ffffff;
  --button-brand-primary-text-disabled: #e9eaf2;
  --button-brand-secondary-bg-default: #f6f7ff;
  --button-brand-secondary-bg-hover: #d9e0ff;
  --button-brand-secondary-bg-disabled: #e9eaf2;
  --button-brand-secondary-text-default: #4262ff;
  --button-brand-secondary-text-disabled: #e9eaf2;
  --button-brand-outlined-bg-default: #ffffff;
  --button-brand-outlined-bg-hover: #f6f7ff;
  --button-brand-outlined-bg-disabled: #ffffff;
  --button-brand-outlined-text-default: #4262ff;
  --button-brand-outlined-text-disabled: #e9eaf2;
  --button-brand-outlined-border-default: #4262ff;
  --button-brand-outlined-border-hover: #5c77ff;
  --button-brand-outlined-border-disabled: #e9eaf2;
  --button-brand-text-bg-default: #ffffff;
  --button-brand-text-bg-hover: #f6f7ff;
  --button-brand-text-bg-disabled: #ffffff;
  --button-brand-text-text-default: #4262ff;
  --button-brand-text-text-disabled: #e9eaf2;
  --button-destructive-primary-bg-default: #f04438;
  --button-destructive-primary-bg-hover: #f25b50;
  --button-destructive-primary-bg-disabled: #e9eaf2;
  --button-destructive-primary-text-default: #ffffff;
  --button-destructive-primary-text-disabled: #e9eaf2;
  --button-destructive-secondary-bg-default: #fef6f5;
  --button-destructive-secondary-bg-hover: #fcdad7;
  --button-destructive-secondary-bg-disabled: #e9eaf2;
  --button-destructive-secondary-text-default: #f04438;
  --button-destructive-secondary-text-disabled: #e9eaf2;
  --button-destructive-outlined-bg-default: #ffffff;
  --button-destructive-outlined-bg-hover: #fef6f5;
  --button-destructive-outlined-bg-disabled: #ffffff;
  --button-destructive-outlined-text-default: #f04438;
  --button-destructive-outlined-text-disabled: #e9eaf2;
  --button-destructive-outlined-border-default: #f04438;
  --button-destructive-outlined-border-hover: #f25b50;
  --button-destructive-outlined-border-disabled: #e9eaf2;
  --button-destructive-text-bg-default: #ffffff;
  --button-destructive-text-bg-hover: #fef6f5;
  --button-destructive-text-bg-disabled: #ffffff;
  --button-destructive-text-text-default: #f04438;
  --button-destructive-text-text-disabled: #e9eaf2;
  --badge-blue-solid-bg-default: #4262ff;
  --badge-blue-solid-text-default: #ffffff;
  --badge-blue-soft-bg-default: #f6f7ff;
  --badge-blue-soft-text-default: #4262ff;
  --badge-blue-outlined-bg-default: #ffffff;
  --badge-blue-outlined-text-default: #4262ff;
  --badge-blue-outlined-border-default: #4262ff;
  --badge-success-solid-bg-default: #12b76a;
  --badge-success-solid-text-default: #ffffff;
  --badge-success-soft-bg-default: #f3fbf8;
  --badge-success-soft-text-default: #12b76a;
  --badge-success-outlined-bg-default: #ffffff;
  --badge-success-outlined-text-default: #12b76a;
  --badge-success-outlined-border-default: #12b76a;
  --badge-warning-solid-bg-default: #f79009;
  --badge-warning-solid-text-default: #ffffff;
  --badge-warning-soft-bg-default: #fef7ee;
  --badge-warning-soft-text-default: #f79009;
  --badge-warning-outlined-bg-default: #ffffff;
  --badge-warning-outlined-text-default: #f79009;
  --badge-warning-outlined-border-default: #f79009;
  --badge-error-solid-bg-default: #f04438;
  --badge-error-solid-text-default: #ffffff;
  --badge-error-soft-bg-default: #fef6f5;
  --badge-error-soft-text-default: #f04438;
  --badge-error-outlined-bg-default: #ffffff;
  --badge-error-outlined-text-default: #f04438;
  --badge-error-outlined-border-default: #f04438;
  --badge-status-01-solid-bg-default: #31adff;
  --badge-status-01-solid-text-default: #ffffff;
  --badge-status-01-soft-bg-default: #f1f9ff;
  --badge-status-01-soft-text-default: #31adff;
  --badge-status-01-outlined-bg-default: #ffffff;
  --badge-status-01-outlined-text-default: #31adff;
  --badge-status-01-outlined-border-default: #31adff;
  --badge-status-02-solid-bg-default: #f79009;
  --badge-status-02-solid-text-default: #ffffff;
  --badge-status-02-soft-bg-default: #fef7ee;
  --badge-status-02-soft-text-default: #f79009;
  --badge-status-02-outlined-bg-default: #ffffff;
  --badge-status-02-outlined-text-default: #f79009;
  --badge-status-02-outlined-border-default: #f79009;
  --badge-status-03-solid-bg-default: #875bf7;
  --badge-status-03-solid-text-default: #ffffff;
  --badge-status-03-soft-bg-default: #f9f7ff;
  --badge-status-03-soft-text-default: #875bf7;
  --badge-status-03-outlined-bg-default: #ffffff;
  --badge-status-03-outlined-text-default: #875bf7;
  --badge-status-03-outlined-border-default: #875bf7;
  --badge-status-04-solid-bg-default: #a8aab2;
  --badge-status-04-solid-text-default: #ffffff;
  --badge-status-04-soft-bg-default: #f5f6fc;
  --badge-status-04-soft-text-default: #a8aab2;
  --badge-status-04-outlined-bg-default: #ffffff;
  --badge-status-04-outlined-text-default: #a8aab2;
  --badge-status-04-outlined-border-default: #a8aab2;
  --badge-status-05-solid-bg-default: #16bcdd;
  --badge-status-05-solid-text-default: #ffffff;
  --badge-status-05-soft-bg-default: #f3fcfd;
  --badge-status-05-soft-text-default: #16bcdd;
  --badge-status-05-outlined-bg-default: #ffffff;
  --badge-status-05-outlined-text-default: #16bcdd;
  --badge-status-05-outlined-border-default: #16bcdd;
  --badge-status-06-solid-bg-default: #6172f3;
  --badge-status-06-solid-text-default: #ffffff;
  --badge-status-06-soft-bg-default: #f7f8fe;
  --badge-status-06-soft-text-default: #6172f3;
  --badge-status-06-outlined-bg-default: #ffffff;
  --badge-status-06-outlined-text-default: #6172f3;
  --badge-status-06-outlined-border-default: #6172f3;
}
