:root[data-theme="spacious"] {
  --display-large-semibold: 600 56/64 "Rubik";
  --display-large-regular: 400 56/64 "Rubik";
  --heading-large-semibold: 600 32/40 "Rubik";
  --heading-small-semibold: 600 20/28 "Rubik";
  --body-medium-medium: 500 16/24 "Rubik";
  --body-medium-regular: 500 16/24 "Rubik";
  --body-small-medium: 500 14/20 "Rubik";
  --body-small-regular: 500 14/20 "Rubik";
  --button-large-medium: 500 16/24 "Rubik";
  --button-medium-medium: 500 14/20 "Rubik";
  --button-small-medium: 500 12/16 "Rubik";
  --label-medium-medium: 500 14/20 "Rubik";
  --label-medium-regular: 400 14/20 "Rubik";
  --label-small-medium: 500 12/16 "Rubik";
  --label-small-regular: 400 12/16 "Rubik";
  --caption-medium-medium: 500 12/16 "Rubik";
  --caption-medium-regular: 400 12/16 "Rubik";
  --margin-large: 40px;
  --margin-medium: 24px;
  --margin-small: 12px;
  --padding-xl: 32px;
  --padding-lg: 24px;
  --padding-md: 16px;
  --padding-sm: 12px;
  --padding-xs: 8px;
  --gap-lg: 12px;
  --gap-md: 8px;
  --gap-sm: 4px;
  --gap-xs: 0px;
  --control-xl: 56px;
  --control-l: 48px;
  --control-m: 40px;
  --control-s: 32px;
  --control-xs: 28px;
  --element-xl: 32px;
  --element-l: 28px;
  --element-m: 24px;
  --element-s: 20px;
  --element-xs: 16px;
  --control-extralarge: 16px;
  --control-large: 14px;
  --control-medium: 12px;
  --control-small: 10px;
  --control-extrasmall: 8px;
  --element-large: 24px;
  --element-medium: 20px;
  --element-small: 16px;
  --element-zero: 0px;
  --element-full: 999px;
  --display-l-semibold: 600 56/64 "Rubik";
  --display-l-regular: 400 56/64 "Rubik";
  --heading-l-semibold: 600 32/40 "Rubik";
  --heading-s-semibold: 600 20/28 "Rubik";
  --body-m-medium: 500 16/24 "Rubik";
  --body-m-regular: 500 16/24 "Rubik";
  --body-s-medium: 500 14/20 "Rubik";
  --body-s-regular: 500 14/20 "Rubik";
  --button-l-medium: 500 16/24 "Rubik";
  --button-m-medium: 500 14/20 "Rubik";
  --button-s-medium: 500 12/16 "Rubik";
  --label-m-medium: 500 14/20 "Rubik";
  --label-m-regular: 400 14/20 "Rubik";
  --label-s-medium: 500 12/16 "Rubik";
  --label-s-regular: 400 12/16 "Rubik";
  --caption-m-medium: 500 12/16 "Rubik";
  --caption-m-regular: 400 12/16 "Rubik";
  --button-padding-xl: 24px;
  --button-padding-l: 16px;
  --button-padding-m: 12px;
  --button-padding-s: 8px;
  --button-padding-xs: 8px;
  --button-padding-inline-xl: 24px;
  --button-padding-inline-l: 16px;
  --button-padding-inline-m: 12px;
  --button-padding-inline-s: 8px;
  --button-padding-inline-xs: 8px;
  --button-padding-block-m: 12px;
  --button-padding-block-s: 8px;
  --button-padding-block-xs: 8px;
  --button-gap-l: 8px;
  --button-gap-m: 4px;
  --field-padding-inline-l: 16px;
  --field-padding-inline-m: 12px;
  --field-padding-block-m: 12px;
  --field-padding-block-s: {.padding.sm};
  --field-gap-m: 4px;
  --tag-padding-inline-s: 8px;
  --tag-padding-inline-xs: 8px;
  --tag-padding-block-s: 8px;
  --tag-padding-block-xs: 8px;
  --tag-gap-m: 4px;
  --tag-gap-s: 4px;
  --ui-margin-l: 32px;
  --ui-margin-m: 16px;
  --ui-margin-s: 8px;
  --ui-padding-xl: 24px;
  --ui-padding-l: 16px;
  --ui-padding-m: 12px;
  --ui-padding-s: 8px;
  --ui-padding-xs: 8px;
  --ui-padding-inline-xl: 24px;
  --ui-padding-inline-l: 16px;
  --ui-padding-inline-m: 12px;
  --ui-padding-inline-s: 8px;
  --ui-padding-inline-xs: 8px;
  --ui-padding-block-xl: 24px;
  --ui-padding-block-l: 16px;
  --ui-padding-block-m: 12px;
  --ui-padding-block-s: 8px;
  --ui-padding-block-xs: 8px;
  --ui-gap-l: 8px;
  --ui-gap-m: 4px;
  --ui-gap-s: 4px;
  --ui-gap-xs: 0px;
  --button-xl: 48px;
  --button-l: 40px;
  --button-m: 32px;
  --button-s: 28px;
  --button-xs: 28px;
  --ui-xl: 28px;
  --ui-l: 24px;
  --ui-m: 20px;
  --ui-s: 16px;
  --ui-xs: 16px;
  --field-xl: 48px;
  --field-l: 40px;
  --field-m: 32px;
  --field-s: 28px;
  --field-xs: 28px;
  --button-xl: 14px;
  --button-l: 12px;
  --button-m: 10px;
  --button-s: 8px;
  --button-xs: 8px;
  --field-xl: 14px;
  --field-l: 12px;
  --field-m: 10px;
  --field-s: 8px;
  --field-xs: 8px;
  --ui-l: 20px;
  --ui-m: 16px;
  --ui-s: 14px;
  --ui-zero: 0px;
  --ui-full: 999px;
}
